.project-container {
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;

    .project {
        display: flex;
        flex-direction: row;
        width: auto;
        justify-content: space-around;
        flex-wrap: wrap;
        img.project-img {
            width: 30px;
            height: 30px;
            padding: 10px;
        }

        a {
            line-height: 50px;
        }
    }
}
