.user-card {
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(148, 148, 148);
    margin: 0 auto;
    padding: 70px 10px;
    border-radius: 20px;
    img {
        width: 100px;
        height: 100px;
        border-radius: 50px;
        align-self: center;
    }

    .name {
        font-size: 30px;
    }

    .influence {
        div {
            align-self: baseline;
        }
    }
}
