.work-exp {
    display: flex;
    flex-direction: column;
    padding: 20px 0;

    .work-exp-item {
        text-align: left;
        border-left: 4px solid rgb(148, 148, 148);
        margin: 10px;
        padding: 0 0 5px 15px;
    }

    h3 {
        text-align: left;
    }
}
