.following-container {
    display: flex;
    flex-direction: row;
    width: auto;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px 0;

    h3 {
        border-right: 2px solid rgb(148, 148, 148);
        flex-grow: 1;
        align-self: normal;
        text-align: left;
    }
    .following {
        padding: 10px;
    }
}
